* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}
.container {
    width: 500px;
    height: 200vh;
    border: 1px solid black;
    margin: 0 auto;
    /* align-items: center; */
    position: relative;
}
.block1 {
    height: 30px;
    width: 100%;
    background-color: yellow;

    /* top: 10px;
    left: 100px;
    position: absolute; */
}
.block1:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: matrix(1.2, 0, 0.5, 1.2, 50, 0);
}
.block2:hover {
    transform: scale( 0.8 ) 
}
.block2 {
    height: 40px;
    width: 100%;
    background-color: green;
}
.block3 {
    height: 25px;
    width: 100%;
    background-color: red;
}
span {
    color:red;
}
.table {
    display: table-row;
}
.name, .surname {
    display: table-cell;
}
@media (max-width: 1000px) {
    .block1:hover {
        display:none;
    }
}
@media(min-width: 1000px) {
    .block1 {
        display: inline;
    }
    .block2 {
        display: inline;
    }
    .block3 {
        display: inline;
    }
}