.test {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: timings;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes timings {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.earth {
    background-image: url('../backgrounds/earth-loader.png');
    background-color: #DCE3EB;
    width: 118px;
    height: 118px;
    top: 52px;
    left: 60px;
    position: absolute;
    border-radius: 50%;
    background-size: 252px;
    position: absolute;
    animation-name: rotateEarth;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
    
@keyframes rotateEarth {
from { background-position-x: 0px; }
to { background-position-x: 252px; }
}
.plainWithEarth {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 100px auto;
    align-items: center;
}
.airplain {
    background-image: url('../backgrounds/plain-loader.png');
    position: absolute;
    height: 220px;
    width: 234px;
    animation-name: rotatePlain;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    left: 0px;
}
@keyframes rotatePlain {
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg); }
}
.heart {
    background-image: url('../backgrounds/heart-symbol-01.jpg');
    animation: heartbeat 1s infinite;
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0 auto;
    align-items: center;
    border: 0;
    outline: none;
}

@keyframes heartbeat {
0% {
    transform: scale( 1 );
}
20% {
    transform: scale( 1.25 ) 
     translateX(5%) 
    translateY(5%);
    } 
40% {
    transform: skewY(10deg) 
    }
}
