body{
    width: 100%;
    
}
.Auth {
    width: 600px;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: tomato;
}
.Auth-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.Auth-login{
    height: 40px;
    margin: 10px;
}
.Auth-login:last-child{
    margin-left: 22px;
    ;
}
.Auth-row:nth-child(2) {
    justify-content: flex-start;
}
