body{
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    margin: -10px 45%;
    font-size: 50px;
    color: #a50d9d;
    text-align: center;
    background-color: rgb(26, 9, 122);
    border: 5px solid rgb(71, 114, 255);
    border-radius: 5px;
}
.imags{
    height: 300px;
    width: 220px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.div{
    background-image: url('../backgrounds/e98f814da6b968a11c09871d473b99e1.jpg');
    background-size: 215px;
}
.imags_Conte{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.footer_image{
    height: 300px;
    width: 220px;
}
