* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.video {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.Zagolovok {
    position: relative;
    z-index: 100;
    padding: 40px;
}
h1  {
color: rgba(243, 57, 32, 0.719);
text-align: center;
}
.Pofactam {
    margin-right: 40px;
    color: rgba(243, 57, 32, 0.719);
    text-transform: uppercase;
    list-style: none;
}
.menu {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
} 
.Pofactam > a {
    color: rgba(243, 57, 32, 0.719);
    text-decoration: none;
}
