* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.Preprocessor {
  width: 100; }
  .Preprocessor-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    background-color: rgba(255, 0, 0, 0.5); }
    .Preprocessor-header {
      background-color: red; }
    @media (min-width: 640px) {
      .Preprocessor-header {
        background-color: blue; } }
    @media (min-width: 1024px) {
      .Preprocessor-header {
        background-color: red; } }
    @media (min-width: 1366px) {
      .Preprocessor-header {
        background-color: yellow; } }
    @media (min-width: 1600px) {
      .Preprocessor-header {
        background-color: gray; } }
    .Preprocessor-header:hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .Preprocessor-header-userName {
      color: white; }

/*# sourceMappingURL=preprocessor.css.map */
