.OK { 
    color: tomato;
    display: inline;
    font-size: 20px;
    margin-right: 30px;
    text-transform: uppercase;
    
}
.container {
    background-image: url("../backgrounds/fresko.jpg");
    height:100vh;
    width:100%;
    background-size: 100%;
    background-position: right center;
    background-repeat:no-repeat ;
    text-align: center ;
    
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mr {
    margin:0 ;
}   
.nay{
    padding-top: 20px;
    position: sticky;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 0;
}

.imageLink{
    height: 100px;
    width: 100px;
    text-decoration: none;
      
}
.Jakfresko {
    display:flex;
    justify-content: center;
}
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    z-index: 100;
    position: relative;
}
.userphoto {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    transition: 1s;
}

.logo {
    height: 50px;
    width: 50px;
}
.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.name {
    color: peru;
    font-size: 20px;
}
.getyourassbackhere {
    text-align: center;
    height: 500px;
}
.VanDarkholme{
    text-decoration: none;
    
}
.userphoto:hover {
    margin: 10px;
    height: 100px;
    width: 100px;
    transition: 1s;
}
.main {
    height: calc(100vh - 120px);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.AHHH {
    height: 200px;
    width: 100%;
    background-color:grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oktekst {
    width: 20%;
    min-width: 20%;
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 4px;
   
}
.pika {
    height: 30px;
    width: fit-content;
    margin-bottom: 40px;
}
.No {
    font-size: 18px;
    margin-bottom: 15px;
}
.text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}