/* .table {
    width: 100%;
    height: 100vh;
    border: none;
    border-collapse: collapse;
}
.tableMenu {
    background-color: dodgerblue;
    width: 100px;
    text-align: top;
}
.tableContent {
    text-align: center;
}
.tableFooter {
    background-color: black;
    text-align: center;
    color: white;
    height: 30px;
}
.tableHeader {
    background-color: blue;
    height: 70px;
    /* /* text-align: center;
}
h1 {
    color: tomto }*/

.gridTable {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 70px 1fr 30px;
    grid-template-areas: "heder header" "nav article" "footer footer";
}
#theader {
    grid-area: header;
    background-color: blue;
    height: 70px;
    text-align: center;
    text-align: center
}
#tnav {
    grid-area: nav;
    width: 100px;
    text-align: top;
}
#tarticle {
    grid-area: article;
    text-align: center
}
#tfooter {
    grid-area: footer;
    background-color: black;
    text-align: center;
    color: white;
}
/* .gridTable> div {
    background-color: tomato;
    height: 25px;
    text-align: center;
}
.gridTable > div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
} */