.icon {
    height: 24px;
    width: 24px;
}
.frame {
    height: 100px;
    width: 100px;  
}
.base:hover {
    fill: red;
}
.base:last-child {
    fill-opacity: 0.6;
    stroke-opacity: 0.7;
    fill: aqua;
}