@import "variables.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Preprocessor {
    width: 100;
    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 30px;
        background-color: rgba($green, 0.5);
        @include response-rule(background-color, red,($mw640: blue,$mw1024: $green,$mw1366: yellow,$mw1600: gray));
    
    &:hover {
        background-color:rgba(black,0.5);
    }
    &-userName {
        color: white;

    }
    }
    
}