$green : red;
@mixin response-rule($property, $defaultValue, $responsiveValues: ()) {
    @if $defaultValue {
      & {
        #{$property}: $defaultValue;
      }
    }
    @else {
      & {
        #{$property}: map-get($responsiveValues, "default");
      }
    }
    @each $media,
    $value in $responsiveValues {
      @if $media !="default" {
        @media #{$media} {
          & {
            #{$property}: $value;
          }
        }
      }
    }
}
$mw321: "(min-width: 321px)";
$mw480: "(min-width: 480px)";
$mw640: "(min-width: 640px)";
$mw768: "(min-width: 768px)";
$mw1024: "(min-width: 1024px)";
$mw1230: "(min-width: 1230px)";
$mw1280: "(min-width: 1280px)";
$mw1366: "(min-width: 1366px)";
$mw1600: "(min-width: 1600px)";
$mw1920: "(min-width: 1920px)";